p {
    color: rgb(151, 151, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fonty{
    font-size: medium;
}
.pril{
    font-size:large;
    font-style: italic;
    font-weight: bold;
}
.name{
    font-size:large;
    text-decoration: underline;
}
.block{
    border-bottom:solid #f00;
    border-bottom-width: 100%;
}
.otkuda{
    text-align: left;
}
.kuda{
    text-align: center;
}